<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllureTest" verbose="1" >
    <test name="MainPage" >
        <classes>
            <class name="com.qa25.tests.test.MainTest">
                <methods>

                </methods>
            </class>


        </classes>
    </test>


</suite>

